<template name="postSubmit">
   <form class="main">
      <div class="control-group">
         <label class="control-label" for="url">URL</label>
         <div class="controls">
            <input name="url" id="url" type="text" value="" placeholder="Your URL"/>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="title">Заголовок</label>
         <div class="controls">
            <input name="title" id="title" type="text" value="" placeholder="Name your post"/>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="message">Комментарий</label>
         <div class="controls">
            <textarea name="message" id="message" type="text" value=""/>
         </div>
      </div>
      <div class="control-group">
         <div class="controls">
            <input type="submit" value="Submit" class="btn btn-primary"/>
         </div>
      </div>
   </form>
</template>